<% content_for :title do %>Web Design<% end %>
<% content_for :description do %>Alex White Web Design<% end %> 
<section>
<h4 class="heading"> Website design: personal, affordable, easy. </h4>
<h5> Send me a message for a quote today! </h5>
<h6> Include the purpose of your website and the features you need. 
	<br> I will be happy to work closely with you to create what you are looking for. </h6>
<div class="form">
	<%= simple_form_for @contact do |form| %> 
		<%= form.error_notification %>
		<%= form.input :name, autofocus: true %> 
		<%= form.input :email %>
		<%= form.input :content, as: :text %>
		<%= form.button :submit, 'Submit', class: 'submit' %> 
	<% end %>
</div>
