<% content_for :title do %>Contact<% end %>
<h3 class= "heading">Contact</h3>
<h4> Send me a message with the purpose of your website and the features you need. I will be happy to work closely with you to create what you are looking for. </h4>
<div class="form">
	<%= simple_form_for @contact do |form| %> 
		<%= form.error_notification %>
		<%= form.input :name, autofocus: true %> 
		<%= form.input :email %>
		<%= form.input :content, as: :text %>
		<%= form.button :submit, 'Submit', class: 'submit' %> 
	<% end %>
</div>
